<aside class="logo">

    {% if page.url == '/index.html' or page.url == '/' %}
    {% assign link = '/about' %}
    {% assign prompt = 'About the Author' %}
    {% else %}
    {% assign link = '/' %}
    {% assign prompt = 'Back to Home' %}
    {% endif %}

    <a href="{{ link }}">
        <img src="http://www.gravatar.com/avatar/{{ site.author_gravatar }}.png?s=100" class="gravatar">
    </a>
    <span class="logo-prompt">{{ prompt }}</span>
</aside>

<div class="page-navigation">
    <a href="{{ "/projects" | prepend: site.baseurl | prepend: site.url }}" title="">Projects</a>
    <a href="{{ "/about" | prepend: site.baseurl | prepend: site.url }}" title="">About</a>
</div>

<article>
    <div class="divider"></div>
</article>
